<h1>Places I've Been</h1>

<ul>
  <% @places.each do |place| %>
    <li>
      <%= link_to place.name, "/places/#{place.id}" %>
      <%= link_to "Edit", "/places/#{place.id}/edit" %> |
      <form action="/places/<%= place.id %>" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<p><%= link_to "Add a New Place", "/places/new" %></p>
