<h1>Add a New Place</h1>

<%= form_with model: @place, url: "/places", method: "post" do |f| %>
  <p>
    <label>Place Name:</label><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Add Place" %>
  </p>
<% end %>

<p><%= link_to "Back to Places", "/places" %></p>
